@import '../../../assets/scss/abstracts/variable';
  
  section {
    text-align: center;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    h1 {
      font-size: 50px;
      font-weight: 100;
      text-align: center;
    }
  
    article {
      display: block;
      width: 700px;
      padding: 50px;
      margin: 0 auto;
    }
  
    a {
      color: $mks-primary-300;
      font-weight: bold;
      transition: color 0.3s ease;
      &:hover {
        text-decoration: none;
        color: $mks-primary-600;
      }
      font-weight: 400;
    }
  
    svg {
      width: 75px;
      margin-top: 1em;
    }
  }
  