<section id="about">
    <hr>
    <article>
        <h2>
            Professional Summary
        </h2>
        <p>
            I hold a National Diploma in IT: Software Development and have more than four years’ IT experience
            developing every day applications that increase productivity, redesign work flows to increase efficiency and
            develop more efficient and better user interface.I devote my effort to produce clean commenting, and
            modifiable code that is also in syntactic compliance with the current trend of development.I would like to
            work with the planning teams, of course, which seek an active developer who actively contributes. Here are a
            few ways I can contribute to your team:
        </p>
        <ul>
            <li>
                <strong>Full-Stack Versatility: </strong> With experience across front-end and back-end development, I
                can create seamless, cohesive applications from interface to server using
                .NET C#, Angular, Typescript, SCSS, And Tailwind CSS.
            </li>
            <li>
                <strong>Efficient, Consistent Delivery:</strong> Thanks to my background in agile and CI/CD, I ensure
                projects stay on track, reducing downtime and errors through streamlined testing and deployment.
            </li>
            <li>
                <strong>Collaborative Approach:</strong> I value teamwork and cross-functional collaboration, ensuring
                smooth communication across organizational boundaries.
            </li>
            <li>
                <strong>Continous Learning:</strong> Recently I started to explore more about into AI development, and
                have developed AI chatbots using Google Dialogflow CX and integrating it with .NET Webhooks,
                while pursuing a path to become a .NET Software Architect.
            </li>
        </ul>
        <p></p>
    </article>
</section>