<section id="landing-page-header">
     <div class="">
        <h1>Creating Scalable, Efficient Solutions in .NET, C#, and Angular.</h1>
        <p>I am Seoka Moshele, and I am a passionate and professional full stack developer interested in developing robust applications that enables the users to interact with them through the power of NET, C#, Angular, and TypeScript. I aspire to design and develop solutions that solve the problem the business wants to address while also fulfilling users’ needs.</p>
     </div>
    <div class="">
        <img class="grayscale" [ngSrc]="'assets/images/about-image-min.png'" alt="Moshele Seoka Photo">
    </div>
</section>