<section>
    <article>
        <h1>Developing Versatile and High-Performance Web Solutions with <span>.NET, C#, Angular, Blazor, and Razor.</span> All
            Focused on Client Satisfaction</h1>
        <h4>Hello there, I’m Moshele Seoka, a full-stack developer with over four years of experience, and  a strong passion for creating optimized and
            scalable applications using .NET, C#, Angular, and TypeScript, deployed on Azure.
            I specialize in developing business-oriented solutions with a keen focus on user-friendliness, particularly
            for small enterprises looking to build dynamic web applications.
            My goal is to create applications that help your business achieve outstanding performance in solving
            business challenges, while enhancing the overall user experience.</h4>
    </article>
    <img src="assets/images/about-image-min.png" alt="Moshele Seoka's Picture">
</section>