<section>
    <article>
        <h1>Developing Versatile and High-Performance Web Solutions with <span>.NET, C#, Angular, Blazor, and Razor.</span> All
            Focused on Client Satisfaction</h1>
        <h4>Hi there! I am Moshele Seoka, a full stack developer with over four years experience in developing multi-platform web applications that are responsive, easy to use and with a focus on meeting and enhancing the aims of your business. I help startups or corporate companies to create solutions that solve identifiable issues in the market. </h4>
    </article>
    <img src="assets/images/about-image-min.png" alt="Moshele Seoka's Picture">
</section>