@import 'abstracts/variable';
@import 'abstracts/placeholders';
@import 'abstracts/mixins';
@import 'base/normalize';
@import 'base/reset';

:root {
    background: $mks-secondary-700;
    font-family: 'Host Grotesk', sans-serif;
    font-size: 18px;
}
